/*
Colors
*/

:root {
    --nav-ft-bgd: #2c3e50;
    --primary-bgd: #1abc9c;
    --seconday-bgd: #3a546d;
    --starline-clr: #2c3e50;
    --secondary-txt-clr: #ffffff;
}

/*
Nav
*/
.nav {
    background-color: var(--nav-ft-bgd);
}