/*
Colors
*/

:root {
    --nav-ft-bgd: #2c3e50;
    --primary-bgd: #1abc9c;
    --seconday-bgd: #3a546d;
    --starline-clr: #2c3e50;
    --secondary-txt-clr: #ffffff;
}

/*
Nav
*/
.top-menu {
    background-color: var(--nav-ft-bgd);
}

/*
Main Intro
*/

.main-intro {
    background-color: var(--primary-bgd);

}

/*
About
*/

.about {
    background-color: var(--primary-bgd);
}

/*
Location
*/

.location {
    background-color: var(--seconday-bgd);
}